@import "@/styles/mixins";

main {
  padding-block: 15px;
  display: flex;
  justify-content: center;
}

.questionnaire-container {
  width: 600px;

  padding: 20px;
  border: 1px solid var(--clr-border);

  @media only screen and (max-width: 768px) {
    border: none;
    width: 100%;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;

    width: 100%;

    font-size: 3rem;
    text-align: center;

    span {
      display: flex;
      align-items: center;
      gap: 5px;

      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .questionnaire-container--today {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
