.emoji--skin-tone-2::after {
  content: "🏻";
}

.emoji--skin-tone-3::after {
  content: "🏼";
}

.emoji--skin-tone-4::after {
  content: "🏽";
}

.emoji--skin-tone-5::after {
  content: "🏾";
}

.emoji--skin-tone-6::after {
  content: "🏿";
}